.home-container{
  display: flex;
  flex-direction: column;
  height: 100vh!important;
  /* justify-content: space-between; */
  min-height: 810px;
  background-image: url(../../assets/home/Barriento_Cristian.png);
  /* background-repeat: no-repeat; */
  
}